<header> 
    <div fxLayout="row" fxFlex="80 0 auto" style="height: 30px;" *ngIf="navigationMenuOpened">
        <div class="search__magnify magnify-icon"></div>
        <input placeholder="Поиск" type="text" class="search__search-field">
        <div class="search__setting settings-search-icon"></div>
    </div>
    <div fxLayout="row" [ngClass]="navigationMenuOpened ? ' is-menu-active' : ''" (click)="toggleNavigationMenu()">
        <app-burger-menu class='header__hamburger'></app-burger-menu>
    </div>
    <div fxLayout="row-reverse" fxFlex="80 0 auto" *ngIf="!navigationMenuOpened">
        <app-panel></app-panel>       
    </div>
    <div fxLayout="row" [ngClass]="profileMenuOpened ? 'is-menu-active' : ''" (click)='toggleProfileMenu()'>
        <app-profile></app-profile>   
    </div>
</header>
<app-nav-menu *ngIf="navigationMenuOpened"></app-nav-menu>
<app-profile-menu *ngIf="profileMenuOpened"></app-profile-menu>
<p *ngIf="!profileMenuOpened && !navigationMenuOpened" class="header__content-text">
    <Главная страница не задана. Нет данных для отображения>
</p>

