<footer *ngIf="!pageOrientation">
  <div fxFlex="20 0 auto" class="footer-element filter-icon"></div>
  <div fxFlex="20 0 auto" class="footer-element hierarchy-icon"></div>
  <div fxFlex="20 0 auto" class="footer-element fullScreen-icon"></div>
  <div fxFlex="20 0 auto" class="footer-element setting-icon"></div>
  <div fxFlex="20 0 auto" class="footer-element arrowOpen-icon"></div>
</footer>
<footer *ngIf="pageOrientation">
    <div fxFlex="10 0 auto" class="footer-element filter-icon"></div>
    <div fxFlex="10 0 auto" class="footer-element hierarchy-icon"></div>
    <div fxFlex="10 0 auto" class="footer-element fullScreen-icon"></div>
    <div fxFlex="10 0 auto" class="footer-element setting-icon"></div>
    <div fxFlex="10 0 auto" class="footer-element"></div>
    <div fxFlex="10 0 auto" class="footer-element"></div>
    <div fxFlex="10 0 auto" class="footer-element"></div>
    <div fxFlex="10 0 auto" class="footer-element"></div>
    <div fxFlex="10 0 auto" class="footer-element"></div>
    <div fxFlex="10 0 auto" class="footer-element"></div>
</footer>