.profile {
    position: absolute;
    width: 100%;
    max-height: 100%;
    -webkit-box-shadow: -6px 0px 10px -8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -6px 0px 10px -8px rgba(50, 50, 50, 0.75);
    box-shadow:         -6px 0px 10px -8px rgba(50, 50, 50, 0.75);
}

.profile__menu {
    background: white;
}

.profile__block {
    padding-top: 10px;
}

.profile__item {
    padding: 5px;
    padding-left: 50px;
    height: 31px;
    line-height: 1;
}

.profile__title {
    width: 100%;
    height: 40px;
    background: #00b050;
    color: white;
}

.profile__title-icon {
    width: 50px;
    height: 40px;
    background: #00b050;
    color: white;
}

.profile__small-text {
    font-size: 10px;
    vertical-align: top;
    padding-left: 50px;
}

.profile__title::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 34px;
    background: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3C!--%20%D0%A1%D0%BE%D0%B7%D0%B4%D0%B0%D0%BD%D0%BE%20Microsoft%20Visio%2C%20%D1%8D%D0%BA%D1%81%D0%BF%D0%BE%D1%80%D1%82%20SVG%20%D0%9F%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%20%28%D0%BB%D0%B8%D1%87%D0%BD%D1%8B%D0%B9%20%D0%BD%D0%B0%D0%B1%D0%BE%D1%80%29%202.svg%20%D0%A1%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0-1%20--%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%0A%09%09xmlns%3Av%3D%22http%3A%2F%2Fschemas.microsoft.com%2Fvisio%2F2003%2FSVGExtensions%2F%22%20width%3D%220.280525in%22%20height%3D%220.278036in%22%0A%09%09viewBox%3D%220%200%2026.6778%2030.0986%22%20xml%3Aspace%3D%22preserve%22%20color-interpolation-filters%3D%22sRGB%22%20class%3D%22st2%22%3E%0A%09%3Cv%3AdocumentProperties%20v%3AlangID%3D%221049%22%20v%3Ametric%3D%22true%22%20v%3AviewMarkup%3D%22false%22%2F%3E%0A%0A%09%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09%3C!%5BCDATA%5B%0A%09%09.st1%20%7Bfill%3A%23fff%3Bstroke%3Anone%3Bstroke-linecap%3Abutt%3Bstroke-width%3A1.36607%7D%0A%09%09.st2%20%7Bfill%3Anone%3Bfill-rule%3Aevenodd%3Bfont-size%3A12px%3Boverflow%3Avisible%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A3%7D%0A%09%5D%5D%3E%0A%09%3C%2Fstyle%3E%0A%0A%09%3Cg%20v%3AmID%3D%220%22%20v%3Aindex%3D%221%22%20v%3AgroupContext%3D%22foregroundPage%22%3E%0A%09%09%3Ctitle%3E%D0%A1%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0-1%3C%2Ftitle%3E%0A%09%09%3Cv%3ApageProperties%20v%3AdrawingScale%3D%220.0393701%22%20v%3ApageScale%3D%220.0393701%22%20v%3AdrawingUnits%3D%2224%22%20v%3AshadowOffsetX%3D%229%22%0A%09%09%09%09v%3AshadowOffsetY%3D%22-9%22%2F%3E%0A%09%09%3Cg%20id%3D%22shape1871-1%22%20v%3AmID%3D%221871%22%20v%3AgroupContext%3D%22shape%22%20transform%3D%22translate%281.36607%2C-1.36607%29%22%3E%0A%09%09%09%3Ctitle%3E%D0%9B%D0%B8%D1%81%D1%82.1871%3C%2Ftitle%3E%0A%09%09%09%3Cpath%20d%3D%22M11.97%2016.42%20C15.75%2016.42%2018.81%2013.35%2018.81%209.57%20C18.81%205.79%2015.75%202.73%2011.97%202.73%20C8.19%202.73%205.13%205.79%205.13%0A%09%09%09%09%09%09%209.57%20C5.13%2013.35%208.19%2016.42%2011.97%2016.42%20ZM16.76%2018.13%20L15.87%2018.13%20C14.68%2018.67%2013.36%2018.98%2011.97%2018.98%0A%09%09%09%09%09%09%20C10.58%2018.98%209.27%2018.67%208.08%2018.13%20L7.18%2018.13%20C3.22%2018.13%200%2021.34%200%2025.31%20L0%2027.53%20C0%2028.95%201.15%2030.1%202.57%0A%09%09%09%09%09%09%2030.1%20L21.38%2030.1%20C22.8%2030.1%2023.95%2028.95%2023.95%2027.53%20L23.95%2025.31%20C23.95%2021.34%2020.73%2018.13%2016.76%2018.13%20Z%22%0A%09%09%09%09%09class%3D%22st1%22%2F%3E%0A%09%09%3C%2Fg%3E%0A%09%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A') no-repeat 50% 50%;
}
