<div fxLayout="row" class="profile">
    <div class="lightbox" [ngStyle]="sizeLightboxBlock()"></div>
    <div class="profile__menu">
        <div class="profile__title">
            <span class="profile__item">Петр Петрович/Indusoft<br>
                <span class="profile__small-text">Администратор системы</span>
            </span>  
        </div>
        <div class="scrollbar" [ngStyle]="sizeContentBlock()">
            <ul  class="profile__block indent-null">
                <li class="profile__item" *ngFor="let item of profileItems">
                <a>
                    {{item}}
                </a>
                </li>
            </ul> 
            <div class="border-line"></div>
            <ul  class="profile__block indent-null">
                <li class="profile__item" *ngFor="let item of settingItems">
                <a>
                    {{item}}
                </a>
                </li>
            </ul> 
            <div class="border-line"></div>
            <ul  class="profile__block indent-null">
                <li class="profile__item" *ngFor="let item of modeItems">
                <a>
                    {{item}}
                </a>
                </li>
            </ul> 
            <div class="border-line"></div>
            <ul  class="profile__block indent-null">
                <li class="profile__item exit-icon">
                <a>Завершить сеанс</a>
                </li>
            </ul>
        </div> 
    </div>
</div>

