<div class="profile-menu">
    <div class="lightbox" [ngStyle]="sizeLightboxBlock()"></div>
    <div class="l-menu-full-content">
        <div class="l-menu-title">
            <span class="l-menu-item">Петр Петрович/Indusoft<br>
                <span class="l-menu-small-text">Администратор системы</span>
            </span>  
        </div>
        <div class="l-menu-content" [ngStyle]="sizeContentBlock()">
            <ul  class="l-menu indent-null">
                <li class="l-menu-item" *ngFor="let item of profileItems">
                <a>
                    {{item}}
                </a>
                </li>
            </ul> 
            <div class=" l-menu-border"></div>
            <ul  class="l-menu indent-null">
                <li class="l-menu-item" *ngFor="let item of settingItems">
                <a>
                    {{item}}
                </a>
                </li>
            </ul> 
            <div class=" l-menu-border"></div>
            <ul  class="l-menu indent-null">
                <li class="l-menu-item" *ngFor="let item of modeItems">
                <a>
                    {{item}}
                </a>
                </li>
            </ul> 
            <div class=" l-menu-border"></div>
            <ul  class="l-menu indent-null">
                <li class="l-menu-item exit-icon">
                <a>Завершить сеанс</a>
                </li>
            </ul>
        </div> 
    </div>
</div>

