.l-header-menu {
    display: flex;
    flex-direction: row;
}

.l-header-panel-system {
    flex: 10 0;
    display: flex;
    flex-direction: row-reverse;
}

.l-header-panel-icons {
    display: flex;
    flex-direction: row-reverse;
}

.l-header-profile {
    display: flex;
    flex-direction: row;
}

.l-header-hamburger {
    width: 34px;
    height: 100%;
}

.l-header-search {
    display: flex;
    flex: 10 0 auto;
}
