.is-hidden {
    display: none;
}

.is-visibly {
    display: block;
}

.is-menu-active {
    background: #00b050;
    border: none;
}

.is-focus {
    border: 2px solid #00b050;
    border-radius: 15px;
}
